/*!
*  Font OB 1.0.1 by @hienob - @fontob
*  Color: white/black/blue/red/yellow/green/pink/purple/orange/gray/drank
* -------------------------- */
@font-face {
  font-family: 'FontOB';
  /*src: url(../fonts/font-ob.otf);
  src: url(../fonts/font-ob.woff) format('woff'), url(../fonts/font-ob.otf) format('otf');*/
  src: url('../fonts/font-ob.eot?v=4.5.0');
  src: url('../fonts/font-ob.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/font-ob.woff?v=4.5.0') format('woff'), url('../fonts/font-ob.ttf?v=4.5.0') format('truetype'), url('../fonts/font-ob.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fob {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    font-family: 'FontOB' !important;
    color:#fff;
    line-height: 1em;
    font-size:16px;
    font:normal normal normal 16px/1 'FontOB';
    font-size:inherit;
}
.fob-sm{
  font-size: 10px;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fob-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fob-2x {
  font-size: 2em;
}
.fob-3x {
  font-size: 3em;
}
.fob-4x {
  font-size: 4em;
}
.fob-5x {
  font-size: 5em;
}
.fob-fw {
  width: 1.28571429em;
  text-align: center;
}
.fob-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fob-ul > li {
  position: relative;
}
.fob-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fob-li.fob-lg {
  left: -1.85714286em;
}
.fob-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.fob-pull-left {
  float: left;
}
.fob-pull-right {
  float: right;
}
.fob.fob-pull-left {
  margin-right: .3em;
}
.fob.fob-pull-right {
  margin-left: .3em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fob.pull-left {
  margin-right: .3em;
}
.fob.pull-right {
  margin-left: .3em;
}
.fob-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fob-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fob-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fob-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fob-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fob-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fob-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fob-rotate-90,
:root .fob-rotate-180,
:root .fob-rotate-270,
:root .fob-flip-horizontal,
:root .fob-flip-vertical {
  filter: none;
}
.fob-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fob-stack-1x,
.fob-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fob-stack-1x {
  line-height: inherit;
}
.fob-stack-2x {
  font-size: 2em;
}
.fob-inverse {
  color: #ffffff;
}
/* color */
.fob-white{
  color: #fff;
}
.fob-black{
  color: #222;
}
.fob-blue{
  color: #46629e;
}
.fob-red{
  color: #e62117;
}
.fob-yellow{
  color: #fabb05;
}
.fob-green{
  color: #34a853;
}
.fob-pink{
  color: #e91d62;
}
.fob-purple{
  color:#9c26b0;
}
.fob-orange{
  color:#ff9700;
}
.fob-gray{
  color:#9d9d9d;
}
.fob-drank{
  color:#363f46;
}
/*END color*/
.fob-stick:before{
    content: '\f001';
}
.fob-fire:before{
    content: '\f002';
}
.fob-diamond:before{
    content: '\f003';
}
.fob-focus:before{
    content: '\f004';
}
.fob-heart:before{
    content: '\f005';
}
.fob-children:before{
    content: '\f006';
}
.fob-edu:before{
    content: '\f007';
}
.fob-fotball:before{
    content: '\f008';
}
.fob-dot-3:before{
    content: '\f009';
}
.fob-jet:before{
    content: '\f00A';
}
.fob-car:before{
    content: '\f00B';
}
.fob-hell:before{
    content: '\f00C';
}
.fob-spy:before{
    content: '\f00D';
}
.fob-bomb:before{
    content: '\f00E';
}
.fob-yelp:before{
    content: '\f00F';
}
.fob-girl:before{
    content: '\f010';
}
.fob-smile:before{
    content: '\f011';
}
.fob-idea:before{
    content: '\f012';
}
.fob-magic:before{
    content: '\f013';
}
.fob-game:before{
    content: '\f014';
}
.fob-puzzle:before{
    content: '\f015';
}
.fob-rocket:before{
    content: '\f016';
}
.fob-anchor:before{
    content: '\f017';
}
.fob-dart:before{
    content: '\f018';
}
.fob-math:before{
    content: '\f019';
}
.fob-finger-2:before{
    content: '\f01A';
}
.fob-close:before{
    content: '\f01B';
}
.fob-bar:before{
    content: '\f01C';
}
.fob-people:before{
    content: '\f01D';
}
.fob-arrow-up:before{
    content: '\f01E';
}
.fob-comment:before{
    content: '\f01F';
}
.fob-crown:before{
    content: '\f020';
}
.fob-info:before{
    content: '\f021';
}
.fob-share:before{
    content: '\f022';
}
.fob-full-screen:before{
    content: '\f023';
}
.fob-small-screen:before{
    content: '\f024';
}
.fob-right:before{
    content: '\f025';
}
.fob-left:before{
    content: '\f026';
}
.fob-next:before{
    content: '\f027';
}
.fob-play:before{
    content: '\f028';
}
.fob-golbal-gps:before{
    content: '\f029';
}
.fob-arrow-left:before{
    content: '\f02A';
}
.fob-arrow-right:before{
    content: '\f02B';
}
.fob-star:before{
    content: '\f02C';
}
.fob-star-empty:before{
    content: '\f02D';
}
.fob-star-half:before{
    content: '\f02E';
}
.fob-star-half-o:before{
    content: '\f02F';
}
.fob-news:before{
    content: '\f030';
}
.fob-chrome:before{
    content: '\f031';
}
.fob-g-plus:before{
    content: '\f032';
}
.fob-twitter:before{
    content: '\f033';
}
.fob-money:before{
    content: '\f034';
}
.fob-table:before{
    content: '\f035';
}
.fob-mail:before{
    content: '\f036';
}
.fob-facebook:before{
    content: '\f037';
}
.fob-phone:before{
    content: '\f038';
}
.fob-tachometer:before{
    content: '\f039';
}
.fob-cart:before{
    content: '\f03A';
}
.fob-book-o:before{
    content: '\f03B';
}
.fob-link:before{
    content: '\f03C';
}
.fob-unlink:before{
    content: '\f03D';
}
.fob-shutdown:before{
    content: '\f03E';
}
.fob-refresh:before{
    content: '\f03F';
}
.fob-eject:before{
    content: '\f040';
}
.fob-octopus:before{
    content: '\f041';
}
.fob-boardgame:before{
    content: '\f042';
}
.fob-tank:before{
    content: '\f043';
}
.fob-gamble:before{
    content: '\f044';
}
.fob-girl-o:before{
    content: '\f045';
}
.fob-play-card:before{
    content: '\f046';
}
.fob-question:before{
    content: '\f047';
}
.fob-race:before{
    content: '\f048';
}
.fob-book:before{
    content: '\f049';
}
.fob-model:before{
    content: '\f04A';
}
.fob-clever:before{
    content: '\f04B';
}
.fob-duck:before{
    content: '\f04C';
}
.fob-cubes:before{
    content: '\f04D';
}
.fob-gecko:before{
    content: '\f04E';
}
.fob-home:before{
    content: '\f04F';
}
.fob-address:before{
    content: '\f050';
}
.fob-setting:before{
    content: '\f051';
}
.fob-calculator:before{
    content: '\f052';
}
.fob-calendar:before{
    content: '\f053';
}
.fob-zynga:before{
    content: '\f054';
}
.fob-file:before{
    content: '\f055';
}
.fob-done:before{
    content: '\f056';
}
.fob-24h:before{
    content: '\f057';
}
.fob-folder:before{
    content: '\f058';
}
.fob-file:before{
    content: '\f059';
}
.fob-time-o:before{
    content: '\f05A';
}
.fob-lock:before{
    content: '\f05B';
}
.fob-clou:before{
    content: '\f05C';
}
.fob-music:before{
    content: '\f05D';
}
.fob-file-white:before{
    content: '\f05E';
}
.fob-key:before{
    content: '\f05F';
}
.fob-golbal:before{
    content: '\f060';
}
.fob-print:before{
    content: '\f061';
}
.fob-undo:before{
    content: '\f062';
}
.fob-next-o:before{
    content: '\f063';
}
.fob-subtract-round:before{
    content: '\f064';
}
.fob-star-round:before{
    content: '\f065';
}
.fob-plus-round:before{
    content: '\f066';
}
.fob-unlock:before{
    content: '\f067';
}
.fob-subtract-clou:before{
    content: '\f068';
}
.fob-plus-clou:before{
    content: '\f069';
}
.fob-bell:before{
    content: '\f06A';
}
.fob-time:before{
    content: '\f06B';
}
.fob-stick-o:before{
    content: '\f06C';
}
.fob-fea:before{
    content: '\f06D';
}
.fob-document:before{
    content: '\f06E';
}
.fob-pencil:before{
    content: '\f06F';
}
.fob-arrow-down:before{
    content: '\f070';
}
.fob-download:before{
    content: '\f071';
}
/*END font-ob*/